body {
  background-color: #7FDBFF;
}
.btn {
  margin: 10px;
}
.buttons {
  margin-top: 23px;
}

#gif, #cheetahgif, #cat{
  display: none;
}
#cheetahgif {
  float: right;

}

#cat {
  margin-top: 20px;
}
